# AWS Configuration Example
VITE_AWS_REGION=us-east-1
VITE_AWS_COGNITO_USER_POOL_ID=us-east-1_example
VITE_AWS_COGNITO_CLIENT_ID=exampleclientid123456
VITE_AWS_DYNAMODB_TABLE_ITEMS=CampusLF_Items
VITE_AWS_DYNAMODB_TABLE_CLAIMS=CampusLF_Claims
VITE_AWS_S3_BUCKET=campus-lf-images-prod
